@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

*   {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav {
    margin-top: 47px;
    margin-left: 42px;
}
.Services {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.875px;
    margin-right: 32px;
    cursor: pointer;
    color:#17233D
}
.Enter {
    margin-left: 40px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 1px;
    border-radius: 6px;
    border: 1px solid #4CB538;
    background: #6FBF44;
    width: 124px;
    height: 51px;
    cursor: pointer;
    color:#FFFFFF
}

section {
    display: inline-block;
    margin: 163px 0 0 121px; 
    width: 595.18px;
    height: 500px;
}
aside {
    display: inline-block;
    margin-left: 85px;
    margin-top: 342px;
    width: 493px;
}
h1 {
    font-weight: 700;
    font-size: 62px;
    line-height: 82px;
    letter-spacing: 0.5px;
    color: #161A49;
}

p {
    font-weight: 400;
    font-size: 18px;
    line-height: 33px;
    letter-spacing: 0.5px;
    margin: 47px 0 55px 0;
    color: #4B505A;
}

a {     
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 1px;
    cursor: pointer;
    background: transparent;
    border: none;
    color: #6FBF44
}

@media screen and (max-width: 390px) {
     nav{
        margin-top: 22px;
     }
    
    .Services {
        display: none;
    }

    .Enter {
       
        margin: -6px 0 0 235px;
        width: 91px;
        height: 31px;
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 1px;
}
    aside {
        position:relative;
        margin-top: 40px;
        margin-left: 62px ;
        width: 310px;
        height: 315px;
}
    h1 {   
        width: 278px;
        height: 165px;
        font-size: 37px;
        line-height: 30px;
        letter-spacing: 0.6px;
        text-align: center;
        margin-top: 14px;
        margin-left: -12px;
        position: fixed;
        

}
    p  {
        width: 304px;
        height: 165px;
        font-size: 23px;
        line-height: 33px;
        letter-spacing: 0.5px;
        text-align: center;
        margin-top: 119px;
        margin-left: -18px;
        position: fixed;
       
}
    a  {  
        width: 112px;
        height: 27px;
        font-size: 18px;
        line-height: 10px;
        letter-spacing: 1px;
        font-size: 21px;
        line-height: 27px;
        letter-spacing: 1px;
        margin: 322px 0 0 79px;
        position: fixed;
}
    section {
        position:fixed;
        margin-top: 465px;
        margin-left: 54px ;
        width: 312px;
        height: 288px;
        
}
    img {
        position: absolute;
        width: 279.92px;
        height: 268.93px;
}

}



